body{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 32px;
}
main, img{
    max-width: 450px;
}

table{
    width: 100%;
}
td:last-child{
    text-align: right;
}

.marquee-y{
    position: fixed;
    width: 100%;
    height: 100%;
}
.marquee-x{
}
.marquee-inner{
    background-color: greenyellow;
    width: 320px;
    text-align: center;
    padding: 8px 4px;
}